#header {
	margin: 0 auto;
	padding: 50px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.title {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.title img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
    width: 100%;
}

#header ul {
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #252525;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul li a:hover {
	color: #83510f;
}

/* Icons */
.box {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}

#source img{
	width: 100%;
	height: auto;
}

#footer {
	background: #252525;
	margin: 0;
	padding: 0;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: auto;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
